body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.formulario {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
}

.input {
    padding: 10px 0 10px 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}

.botao {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.botao:hover {
    background-color: #0056b3;
}

.resultado {
    font-size: 18px;
    margin-top: 20px;
}

.sucesso {
    color: green;
}

.erro {
    color: red;
}
